<div id="parceiros" class="fundo  ">
    <div class="uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
        <div>
            <div class="uk-border-rounded  uk-card- uk-card-body uk-width-1-1@m">
                <div class="uk-text-left">
                  <img alt="" src="/img/devcamp-two.png">
                </div>
            </div>
        </div>
        <div class="uk-flex  uk-flex-middle">
            <div class="uk-text-left card uk-card uk-card-body uk-width-1-1@m ">
                <h2 class="big-title-2">És formador ou <br>tens um Centro de Formação?<br></h2>
                <h1 class="big-title">Torne-se parceiro(a)</h1>
                <p style="color: white;" >
                   Realize em nossa academia seus cursos, formações e eventos. Tenha acesso a inúmeras ferramentas e recursos logísticos que vão simplifica suas operações e rentabilizar seu negócio. Com uma equi pronta a lhe apoaiar a forcar-se no conteúdo enquanto tratamos das suas actividades e comunicações.
                </p>
                <a routerLink="/formacoes" class="uk-button uk-button-secondary uk-border-pill uk-margin-top">PROGRAMA DE PARCEIROS</a>

              </div>
        </div>
    </div>
</div>