<div id="parceiros" class="fundo  ">
    <div class="uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center uk-margin-small-left uk-margin-small-right">
        <div>
            <div class="uk-border-rounded  uk-card- uk-card-body uk-width-1-1@m">
                <div class="uk-text-left">
                  <img alt="" src="/img/devcamp-two.png">
                </div>
            </div>
        </div>
        <div class="uk-flex  uk-flex-middle">
            <div class="uk-text-left card uk-card uk-card-body uk-width-1-1@m ">
                <h2 class="big-title-2">És formador ou <br>tens um Centro de Formação?<br></h2>
                <h1 class="big-title">Torne-se parceiro(a)</h1>
                
                <h3 style="color: white;" color="white">Empresas</h3> 
                <p style="color: white;">Expanda alcançando público diverso e diversifique suas fontes de receitas. Torne-se franquiado(a) e Tenha acesso a inúmeras ferramentas e recursos logísticos que vão simplifica suas operações e rentabilizar seu negócio.</p>
                <h3 style="color: white;" color="white">Singulares</h3> 
                <p style="color: white;">Rentabilize seus conhecimento e alcance ministrando suas aulas na nossa Academia. Torne-se nosso formador(a) e tenha acesso ao suporte e aos recursos de suporte que vão ajudar a tornar-seu nome uma referência.</p>
                
                
                <a  href="https://forms.gle/kKEurFKErwNfM1Jp8" class="uk-button uk-button-secondary uk-border-pill uk-margin-top">REGISTAR-SE</a>

              </div>
        </div>
    </div>
</div>