.uk-container {
}


.fundo{
    background-image:  url('/img/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.uk-button-default{
    background: linear-gradient( rgb(225, 225, 225),rgb(255, 255, 255),rgb(225, 225, 225));
    box-shadow: 20px;

}