<div class=" fundo">
  
    <div class="uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">

        <div  id="#acerca" class="uk-card">
            <div class="uk-card-body">
                <img src="img/devcamp-one.png" alt="">
            </div>
        </div>
    
    
        
        <div class="uk-card uk-flex uk-flex-middle">
            <div class="uk-text-left">
                <p style="color: white; font-weight: bold;">Bem-vindo(a) ao DevCamp</p>
                <h1 class="big-title"> Centro de excelência  em educação tecnológica, <br> comportamental e de gestão. 
                </h1>
                
                <a routerLink="/formacoes" class="uk-button uk-button-secondary uk-border-rounded uk-margin-top uk-margin-small-right">Ver Formações</a>
                <a routerLink="/formacoes" class="uk-button uk-button-secondary uk-border-rounded uk-margin-top">Tornar-se Parceiro</a>

            </div>
        </div>
    
        
    
      
    
    </div>
</div>

