<div class=" fundo">
  
    <div class="uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center uk-margin-small-left uk-margin-small-right">

        <div  id="#acerca" class="uk-card uk-margin-medium-top">
            <div class="uk-card-body">
                <img src="img/devcamp-one.png" alt="">
            </div>
        </div>
    
    
        
        <div class="uk-card uk-flex uk-flex-middle uk-margin-medium-bottom ">
            <div class="uk-text-left ">
                <p  class="uk-margin-large-right" style="color: white; font-weight: bold;">Bem-vindo(a) a Academia DevCamp</p>
                <h1 class="big-title"> Centro de excelência em <br> educação tecnológica, <br> comportamental e de gestão. 
                </h1>
                
                <a href="#formacoes" uk-scroll="offset: 100" class="uk-button uk-button-secondary uk-border-pill uk-margin-top uk-margin-small-right">Ver Formações</a>
                <a target="_blank " href="https://forms.gle/kKEurFKErwNfM1Jp8" class="uk-button uk-button-secondary uk-border-pill uk-margin-top">Tornar-se Parceiro</a>

            </div>
        </div>
    
        
    
      
    
    </div>
</div>

