<div class="uk-container">

    <div class="uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-match-height uk-grid uk-text-center">
        <div>
            <div class="uk-border-rounded  uk-card- uk-card-body uk-width-1-1@m">
                <div class="uk-text-left">
                  <img alt="" src="/img/devcamp18.jpg">
                </div>
            </div>
        </div>
        <div>
            <div class="uk-text-left card uk-card uk-card-body uk-width-1-1@m">
                <h2 class="texto-1 uk-card-title texto-1">Quem somos</h2>
                <p> DevCamp é um centro de excelência em educação tecnológica, comportamental e de gestão. 

                    </p>
                    <p>                    A academia presta igualmente serviços  formação, capacitação e de suporte à realização de eventos de natureza e corporativa dentro e fora das suas instalações, online e offline.</p>
        </div>
</div>