<div class=" fundo uk-flex-center uk-flex uk-flex-middle">
  <div class=" uk-container uk-margin-top uk-margin-bottom" id="formacoes">
    <ul
      class="uk-subnav uk-subnav-pill"
      uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium "
    >
      <li><a href="#">Janeiro</a></li>
      <li><a href="#">Fevereiro</a></li>
      <li><a href="#">Março</a></li>
    </ul>

    <div id="formacoes" class="uk-switcher uk-margin">
      <div>
        <div 
          class="uk-child-width-1-3@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-left"
        >
          <div class="uk-card uk-card-small">
            <div class="uk-card-body uk-card-default uk-border-rounded">
              <h4 class="uk-card-header">
                Cloud, DevOps e Administração de Servidores Linux
              </h4>
              <div class="uk-margin-small-left uk-margin-small-right">
                <p style="font-size: 14px" class="">
                  Aprenda a planejar e implementar o provisionamento de
                  servidores na nuvem com {{ curso }}.
                </p>
                <p style="font-size: 14px; font-weight: 600">
                  <span uk-icon="clock"></span> 10:00 - 14:00 <br /><span
                    uk-icon="calendar"
                  ></span>
                  Aos Sábados e Domingos <br /><span uk-icon="location"></span>
                  Presencial e Online
                </p>
                <h4 style="font-size: 45px; font-weight: 800" class="uk-margin-small-bottom, uk-margin-small-top">
                  50.000 AOA
                </h4>
                <a
                  routerLink="/formacoes"
                  class="uk-button uk-button-secondary uk-border-pill "
                  >Inscrever-se</a
                >
                <a
                  uk-icon="download"
                  routerLink="/formacoes"
                  class="uk-button uk-button-default uk-border-pill uk-margin-small-top uk-margin-medium-bottom"
                >
                  Baixar informações</a
                >
              </div>
            </div>
          </div>

          <div class="uk-card uk-card-small">
            <div class="uk-card-body uk-card-default uk-border-rounded">
              <h4 class="uk-card-header">Programa <br>Ser Humano <br />aprimorado</h4>

              <div class="uk-margin-small-left uk-margin-small-right">
                <p style="font-size: 14px" class="">
                  Curso de desenvolvimento de competências comportamentais
                  (Pessoais e Profissionais) de 3 módulos.
                </p>
                <p style="font-size: 14px; font-weight: 600">
                  <span uk-icon="clock"></span> 10:00 - 14:00 <br /><span
                    uk-icon="calendar"
                  ></span>
                  Aos Sábados e Domingos <br /><span uk-icon="location"></span>
                  Presencial e Online
                </p>
                <h4 style="font-size: 45px; font-weight: 800" class="uk-margin-small-bottom, uk-margin-small-top">
                  50.000 AOA
                </h4>
                <a
                  routerLink="/formacoes"
                  class="uk-button uk-button-secondary uk-border-pill "
                  >Inscrever-se</a
                >
                <a
                  uk-icon="download"
                  routerLink="/formacoes"
                  class="uk-button uk-button-default uk-border-pill uk-margin-small-top uk-margin-medium-bottom"
                >
                  Baixar informações</a
                >
              </div>
            </div>
          </div>

          <div class="uk-card uk-card-small">
            <div class="uk-card-body uk-card-default uk-border-rounded">
              <h4 class="uk-card-header">
                Power BI para <br> Business Intelligence
              </h4>
              <div class="uk-margin-small-left uk-margin-small-right">
                <p style="font-size: 14px" class="">
                  Aprenda a criar dashboards
                  interativos e relatórios que ajudam as empresas a tomar decisões informadas a partir de seus dados.
                </p>
                <p style="font-size: 14px; font-weight: 600">
                  <span uk-icon="clock"></span> 10:00 - 14:00 <br /><span
                    uk-icon="calendar"
                  ></span>
                  Aos Sábados e Domingos <br /><span uk-icon="location"></span>
                  Presencial e Online
                </p>
                <h4 style="font-size: 45px; font-weight: 800" class="uk-margin-small-bottom, uk-margin-small-top">
                  50.000 AOA
                </h4>
                <a
                  routerLink="/formacoes"
                  class="uk-button uk-button-secondary uk-border-pill"
                  >Inscrever-se</a
                >
                <a
                  uk-icon="download"
                  routerLink="/formacoes"
                  class="uk-button uk-button-default uk-border-pill uk-margin-small-top uk-margin-medium-bottom"
                >
                  Baixar informações</a
                >
              </div>
            </div>
          </div>


          <div class="uk-card uk-card-small uk-margin-medium-top">
            <div class="uk-card-body uk-card-default uk-border-rounded">
              <h4 class="uk-card-header">
                Fundamentos da <br>Análise de Dados
              </h4>
              <div class="uk-margin-small-left uk-margin-small-right">
                <p style="font-size: 14px" class="">
                  Aprenda a transformar dados brutos em insights relevantes, utilizando técnicas de estatística,
                  mineração de dados e outras metodologias analíticas.
                </p>
                <p style="font-size: 14px; font-weight: 600">
                  <span uk-icon="clock"></span> 10:00 - 14:00 <br /><span
                    uk-icon="calendar"
                  ></span>
                  Aos Sábados e Domingos <br /><span uk-icon="location"></span>
                  Presencial e Online
                </p>
                <h4 style="font-size: 45px; font-weight: 800" class="uk-margin-small-bottom, uk-margin-small-top">
                  50.000 AOA
                </h4>
                <a
                  routerLink="/formacoes"
                  class="uk-button uk-button-secondary uk-border-pill "
                  >Inscrever-se</a
                >
                <a
                  uk-icon="download"
                  routerLink="/formacoes"
                  class="uk-button uk-button-default uk-border-pill uk-margin-small-top uk-margin-medium-bottom"
                >
                  Baixar informações</a
                >
              </div>
            </div>
          </div>


          

          <div class="uk-card uk-card-small uk-margin-medium-top">
            <div class="uk-card-body uk-card-default uk-border-rounded">
              <h4 class="uk-card-header">
                Análise de Dados <br>em Tableau
              </h4>
              <div class="uk-margin-small-left uk-margin-small-right">
                <p style="font-size: 14px" class="">
                  O Tableau é uma plataforma de análise visual que permite que os usuários explorem e compreendam dados de
                  forma intuitiva.
                </p>
                <p style="font-size: 14px; font-weight: 600">
                  <span uk-icon="clock"></span> 10:00 - 14:00 <br /><span
                    uk-icon="calendar"
                  ></span>
                  Aos Sábados e Domingos <br /><span uk-icon="location"></span>
                  Presencial e Online
                </p>
                <h4 style="font-size: 45px; font-weight: 800" class="uk-margin-small-bottom, uk-margin-small-top">
                  50.000 AOA
                </h4>
                <a
                  routerLink="/formacoes"
                  class="uk-button uk-button-secondary uk-border-pill "
                  >Inscrever-se</a
                >
                <a
                  uk-icon="download"
                  routerLink="/formacoes"
                  class="uk-button uk-button-default uk-border-pill uk-margin-small-top uk-margin-medium-bottom"
                >
                  Baixar informações</a
                >
              </div>
            </div>
          </div>



        </div>
      </div>

      <div> <!--Conteúdo de Fevereiro--> </div>
      <div><!--Conteúdo de Março--> </div>
    </div>
  </div>
</div>
