<div class="tela" uk-slideshow="autoplay: true; autoplay-interval: 3000 ; animation: fade" >
    <div class="uk-slideshow-items" uk-height-viewport="min: 300; ">

        <div>
            <div class="video-container uk-margin-large-top">
                <video autoplay loop muted id="backgroundVideo" class=" background-video">
                    <source src="video/devopscafe.mp4" type="video/mp4">
                    Seu não navegador não suporta o vídeo em falta.
                </video>
                <div class="uk-container overlay-text uk-margin-large-top   ">
                    <h1 class="texto-cta uk-text-center"></h1>
                    <p style="color: white">Descubra <b>DevOps, Administração de Servidores Linux e Cloud</b><br> Aos
                        Sábados <br> 10:00 -12:00 (Manhã)</p>
                    <a target="_blank" class="uk-button uk-button-secondary uk-border-rounded uk-margin-top uk-margin-small-right" href="https://forms.gle/PbDCHFyFF5H41fVk6">Inscrição Grátis
                        </a>
                </div>

            </div>
        </div>
        <div>
            <div class="video-container2 uk-margin-large-top">

                <div class="uk-container ">

                    <div
                        class="uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-left  uk-margin-small-top">
                        
                        <div>
                            <div class="card uk-card  uk-card-body uk-width-1-1@m">
                                <img src="img/devcamp-one.png" alt="">

                            </div>
                        </div>
                        <div class="text uk-flex uk-flex-middle uk-margin-medium-bottom ">
                            <div class="card uk-card  uk-border-rounded uk-card-body uk-width-1-1@m">
                                <p class="uk-remove-margin" style="color: white">Bem-vindo(a) a Academia DevCamp

                                </p>
                                <h2 class="uk-remove-margin" style="color: white"><b>Centro de excelência em
                                    educação tecnológica,
                                    comportamental e de gestão.</b> </h2>
            
                            
                                    <a href="#formacoes" uk-scroll="offset: 100" class="uk-button uk-button-secondary uk-border-pill uk-margin-top uk-margin-small-right">Ver Formações</a>
                                    <a target="_blank " href="https://forms.gle/kKEurFKErwNfM1Jp8" class="uk-button uk-button-secondary uk-border-pill uk-margin-top">Tornar-se Parceiro</a>
                                
            
                            </div>
                        </div>
                    </div>
            
                </div>

            </div>
        </div>

    </div>
</div>