<footer id="rodape" class="site-footer">
    <div class="container">
        <div class="footer-content">
  
            <!-- First Column: Address and Google Maps -->
           
            <!-- Second Column: Links and Contact Info -->
            <div class="footer-column uk-margin">
               
                <p><b>LINKS ÚTEIS</b></p>
                <ul class="footer-links">
                    <li><a href="https://devcamp.fluxo-digital.com/"> Fluxodigital</a></li>
                    <li><a href="https://playout.fluxo-digital.net/"> Tornar-se parceiro</a></li>
                    <li><a href="#"> Ficha de Parceiros</a></li>
                </ul>
            </div>
  
            <!-- Third Column: Social Media Links and Contact Info -->
            <div class="footer-column">
                <p><b>CONTACTO</b></p>
                <p> Email: <a class="link" href="mailto:geral@fluxodigital.com">geral&#64;devcamp.com</a></p>
              
                
            </div>
  
           
  
  
        </div>
    </div>
  
  
  </footer>
  <footer>
    <div class="uk-text-center uk-margin-small-top uk-margin-small-bottom fundo-preto">
      &copy; 2025 Angola Cables & TelCables . Todos os direitos reservados.
    </div>
  </footer>