.texto{
    color:white !important;
    font-family: "Roboto", serif !important; 
}

.selos{
    width: auto;
    height: auto;
}


.fundo-connectivity{
    background-image: url('/img/sacs.jpg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(5, 0, 100, 0.788);
    background-blend-mode: darken;
    padding-top:  20px;

}


.fundo-datacenter{
    background-image: url('/img/fundo-datacenter.jpg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(5, 0, 100, 0.788);
    background-blend-mode: darken;
    padding-top:  20px;

}

.fundo-cloud{
    background-image: url('/img/cloud.jpg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(5, 0, 100, 0.788);
    background-blend-mode: darken;
    padding-top:  20px;

}

.fundo-grid{
    background: linear-gradient(180deg, rgb(0, 25, 49), rgb(0, 6, 27), rgb(0, 25, 49));
    

}

.uk-card-header{
    font-weight: 800;
}