<div class="uk-container">
  
    <div class="uk-child-width-1-3@s uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center uk-margin-large-bottom">

        <div id="servicos"  class="uk-card">
            <div class="uk-card-body">
                <h3 class="uk-card-header"><span uk-icon="icon: pencil; ratio: 3"></span><br>
                    Formação e Capacitação</h3>
                <p>Cursos e programas práticos para desenvolver habilidades e preparar profissionais para o mercado.</p>
                <a routerLink="/formacoes" class="uk-button uk-button-secondary uk-border-pill uk-margin-top">Ver Formações</a>

            </div>
        </div>
    
    
        
        <div class="uk-card">
            <div class="uk-card-body">
                
                <h3 class="uk-card-header"><span uk-icon="icon: users; ratio: 3"></span><br>Mentoria<br>Personalizada</h3>
                <p>Orientação individualizada com especialistas para acelerar o desenvolvimento de carreiras.</p>
                <a routerLink="/formacoes" class="uk-button uk-button-secondary uk-border-pill uk-margin-top">Agendar sessão</a>

            </div>
        </div>
    
        
    
        <div class="uk-card">
            <div class="uk-card-body">
                
                <h3 class="uk-card-header"><span uk-icon="icon: cog; ratio: 3"></span> <br>Suporte <br> & Rental</h3>
                <p>Implementação de tecnologias avançadas e modernização de processos no seu negócio.</p>
                <a routerLink="/formacoes" class="uk-button uk-button-secondary uk-border-pill uk-margin-top">Consultoria Grátis</a>

            </div>
        </div>
    
    </div>
</div>

